{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container mt-4">
        <product-edit :product="{{ product|serialize }}"></product-edit>
    </div>
{% endblock %}


