{% extends 'base.html.twig' %}

{% block title %}
    Create a product
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <product-new></product-new>
    </div>
{% endblock %}


